# Load Libraries

In [1]:
import os
import sys
import math
import warnings
import logging
import pickle
import numpy as np
import pandas as pd
import geopandas as gpd
import dotenv
import pyet


import matplotlib.pyplot as plt

from linearmodels.panel import PanelOLS, RandomEffects
from linearmodels.panel import compare

from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.multioutput import MultiOutputRegressor
from sklearn.model_selection import GroupKFold, RandomizedSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

from scipy.optimize import minimize
from scipy.stats import randint, uniform

import lightgbm as lgb
from lightgbm import LGBMRegressor

# Set warnings
warnings.filterwarnings("ignore")

# Load environment variables from .env file
dotenv.load_dotenv()

# Set up logging
logging.basicConfig(level=logging.INFO)

# Suppress warnings
warnings.filterwarnings("ignore")

# Set display options for pandas
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.2f}'.format)
pd.set_option('display.max_colwidth', None)

# Load Data

In [2]:
# Load Data From Pickle
with open('../../data/ETo/Khorasan_ETo_Data_1950_2025.pkl', 'rb') as f:
    data = pickle.load(f)
    logging.info("Data loaded from pickle file.")

INFO:root:Data loaded from pickle file.

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2263576 entries, 0 to 2263575
Data columns (total 36 columns):
 #   Column             Dtype
---  ------             -----
 0   date               datetime64[ns]
 1   station_id         object
 2   station_name       object
 3   region_id          object
 4   region_name        object
 5   lat                float64
 6   lon                float64
 7   station_elevation  float64
 8   tmax               float64
 9   tmin               float64
 10  tm                 float64
 11  umax               float64
 12  umin               float64
 13  um                 float64
 14  ffm                float64
 15  sshn               float64
 16  rrr24              float64
 17  0                  float64
 18  Penman             float64
 19  FAO-56             float64
 20  Priestley-Taylor   float64
 21  Kimberly-Penman    float64
 22  Thom-Oliver        float64
 23  Blaney-Criddle     float64
 24  Hamon              float64
 25  Romanenko          float64
 26  Linacre            float64
 27  Haude              float64
 28  Turc               float64
 29  Jensen-Haise       float64
 30  Mcguinness-Bordne  float64
 31  Hargreaves         float64
 32  FAO-24             float64
 33  Abtew              float64
 34  Makkink            float64
 35  Oudin              float64
dtypes: datetime64[ns](1), float64(31), object(4)
memory usage: 621.7+ MB

In [4]:
# Filter Data
df = data[[
    "region_name",
    "region_id",
    "station_name",
    "station_id",
    "station_elevation",
    "lat",
    "lon",
    "date",
    "tmax",
    "tmin",
    "tm",
    "umax",
    "umin",
    "um",
    "ffm",
    "sshn",
    "rrr24",
    "FAO-56",
    "Penman",
    "Hargreaves",
]]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2263576 entries, 0 to 2263575
Data columns (total 36 columns):
 #   Column             Dtype
---  ------             -----
 0   date               datetime64[ns]
 1   station_id         object
 2   station_name       object
 3   region_id          object
 4   region_name        object
 5   lat                float64
 6   lon                float64
 7   station_elevation  float64
 8   tmax               float64
 9   tmin               float64
 10  tm                 float64
 11  umax               float64
 12  umin               float64
 13  um                 float64
 14  ffm                float64
 15  sshn               float64
 16  rrr24              float64
 17  0                  float64
 18  Penman             float64
 19  FAO-56             float64
 20  Priestley-Taylor   float64
 21  Kimberly-Penman    float64
 22  Thom-Oliver        float64
 23  Blaney-Criddle     float64
 24  Hamon              float64
 25  Romanenko          float64
 26  Linacre            float64
 27  Haude              float64
 28  Turc               float64
 29  Jensen-Haise       float64
 30  Mcguinness-Bordne  float64
 31  Hargreaves         float64
 32  FAO-24             float64
 33  Abtew              float64
 34  Makkink            float64
 35  Oudin              float64
dtypes: datetime64[ns](1), float64(31), object(4)
memory usage: 621.7+ MB

In [6]:
df[['region_name', 'station_name']].drop_duplicates().reset_index(drop=True)

       region_name       station_name
0   South Khorasan          Ghohestan
1   South Khorasan         Eshgh Abad
2   South Khorasan  Fath Abad Ferdows
3   South Khorasan         Ghani Abad
4   South Khorasan            Seghale
..             ...                ...
77  North Khorasan                Raz
78  North Khorasan  Maneh-Va-Samalqan
79  North Khorasan             Farouj
80  North Khorasan          Esfarayen
81  North Khorasan             Jajarm

[82 rows x 2 columns]

In [7]:
min_rows = 10 * 365
df_filtered = df.groupby(['region_id', 'station_id']).filter(lambda x: x['FAO-56'].count() >= min_rows).reset_index(drop=True)
logging.info(f"{df_filtered[['region_id', 'station_id']].nunique()}")

INFO:root:region_id      3
station_id    19
dtype: int64

In [8]:
df_filtered[['region_name', 'region_id', 'station_name', 'station_id']].drop_duplicates().reset_index(drop=True)

        region_name region_id         station_name station_id
0    South Khorasan      OIMB                Tabas      40791
1    South Khorasan      OIMB              Ferdows      40792
2    South Khorasan      OIMB                 Qaen      40793
3    South Khorasan      OIMB              Birjand      40809
4    South Khorasan      OIMB            Nehbandan      40827
5    South Khorasan      OIMB            Boshruyeh      99407
6   Khorasan Razavi      OIMM               Quchan      40740
7   Khorasan Razavi      OIMM              Sarakhs      40741
8   Khorasan Razavi      OIMM             Sabzevar      40743
9   Khorasan Razavi      OIMM             Golmakan      40744
10  Khorasan Razavi      OIMM              Mashhad      40745
11  Khorasan Razavi      OIMM            Neyshabur      40746
12  Khorasan Razavi      OIMM  Torbat-E Heydariyeh      40762
13  Khorasan Razavi      OIMM              Kashmar      40763
14  Khorasan Razavi      OIMM              Gonabad      40778
15  Khorasan Razavi      OIMM         Torbat-E-Jam      40806
16   North Khorasan      OIMN              Bojnurd      40723
17   North Khorasan      OIMN            Esfarayen      99287
18   North Khorasan      OIMN               Jajarm      99295

# Intra-station Modeling

In [9]:
predictors = ['Hargreaves', 'tm', 'tmin', 'tmax']
targets = ['FAO-56', 'Penman']

df_filtered.dropna(subset=predictors + targets, inplace=True)

X = df_filtered[predictors]
y = df_filtered[targets]

df_filtered['ml_pred_fao56'] = np.nan
df_filtered['ml_pred_penman'] = np.nan

station_models = {}

print("\n--- شروع مدل‌سازی درون‌ایستگاهی (ML) ---")
for station in df_filtered['station_id'].unique():
    print(f"آموزش مدل برای ایستگاه: {station}")

    df_station = df_filtered[df_filtered['station_id'] == station]
    X_station = df_station[predictors]
    y_station = df_station[targets]
    
    model = RandomForestRegressor(n_estimators=200, random_state=42)
    model.fit(X_station, y_station)
    
    station_models[station] = model
    
    predictions = model.predict(X_station)
    
    df_filtered.loc[df_filtered['station_id'] == station, 'ml_pred_fao56'] = predictions[:, 0]
    df_filtered.loc[df_filtered['station_id'] == station, 'ml_pred_penman'] = predictions[:, 1]

print("مدل‌سازی درون‌ایستگاهی با موفقیت انجام شد.")
print("نمونه‌ای از پیش‌بینی‌های مدل ML:")
print(df_filtered)

--- شروع مدل‌سازی درون‌ایستگاهی (ML) ---
آموزش مدل برای ایستگاه: 40791
آموزش مدل برای ایستگاه: 40792
آموزش مدل برای ایستگاه: 40793
آموزش مدل برای ایستگاه: 40809
آموزش مدل برای ایستگاه: 40827
آموزش مدل برای ایستگاه: 99407
آموزش مدل برای ایستگاه: 40740
آموزش مدل برای ایستگاه: 40741
آموزش مدل برای ایستگاه: 40743
آموزش مدل برای ایستگاه: 40744
آموزش مدل برای ایستگاه: 40745
آموزش مدل برای ایستگاه: 40746
آموزش مدل برای ایستگاه: 40762
آموزش مدل برای ایستگاه: 40763
آموزش مدل برای ایستگاه: 40778
آموزش مدل برای ایستگاه: 40806
آموزش مدل برای ایستگاه: 40723
آموزش مدل برای ایستگاه: 99287
آموزش مدل برای ایستگاه: 99295
مدل‌سازی درون‌ایستگاهی با موفقیت انجام شد.
نمونه‌ای از پیش‌بینی‌های مدل ML:
           region_name region_id station_name station_id  station_elevation  \
6926    South Khorasan      OIMB        Tabas      40791             711.00
6927    South Khorasan      OIMB        Tabas      40791             711.00
6928    South Khorasan      OIMB        Tabas      40791             711.00
6929    South Khorasan      OIMB        Tabas      40791             711.00
6930    South Khorasan      OIMB        Tabas      40791             711.00
...                ...       ...          ...        ...                ...
518163  North Khorasan      OIMN       Jajarm      99295             984.00
518164  North Khorasan      OIMN       Jajarm      99295             984.00
518165  North Khorasan      OIMN       Jajarm      99295             984.00
518166  North Khorasan      OIMN       Jajarm      99295             984.00
518167  North Khorasan      OIMN       Jajarm      99295             984.00

         lat   lon                date  tmax  tmin    tm  umax  umin    um  \
6926   33.60 56.95 1969-12-18 12:00:00 18.00  1.00  9.50 92.00 50.00 67.40
6927   33.60 56.95 1969-12-19 12:00:00 18.00  1.00  9.50 89.00 42.00 61.20
6928   33.60 56.95 1969-12-20 12:00:00 17.00  1.00  9.00 81.00 41.00 58.80
6929   33.60 56.95 1969-12-21 12:00:00 19.00  2.00 10.50 85.00 36.00 57.80
6930   33.60 56.95 1969-12-22 12:00:00 20.00  2.00 11.00 75.00 32.00 51.40
...      ...   ...                 ...   ...   ...   ...   ...   ...   ...
518163 36.96 56.34 2025-08-27 12:00:00 33.60 20.40 27.00 56.00 24.00 39.38
518164 36.96 56.34 2025-08-28 12:00:00 35.50 21.40 28.50 56.00 16.00 38.92
518165 36.96 56.34 2025-08-29 12:00:00 35.60 21.40 28.50 62.00 16.00 37.25
518166 36.96 56.34 2025-08-30 12:00:00 38.30 20.20 29.30 46.00 10.00 25.92
518167 36.96 56.34 2025-08-31 12:00:00 36.60 19.10 27.80 44.00  9.00 23.05

        ffm  sshn  rrr24  FAO-56  Penman  Hargreaves  ml_pred_fao56  \
6926   0.00  9.00   0.00    0.94    1.04        1.83           0.96
6927   0.60  9.00   0.00    1.07    1.08        1.83           1.02
6928   0.20  7.00   0.00    0.88    0.98        1.74           0.85
6929   0.40  6.50   0.00    1.00    1.04        1.89           0.98
6930   0.40  8.30   0.00    1.09    1.13        1.99           1.03
...     ...   ...    ...     ...     ...         ...            ...
518163 7.96 12.30   0.00    9.56    6.83        5.38           9.16
518164 6.75 11.70   0.00    9.61    6.64        5.73           9.54
518165 8.21 12.00   0.00    9.87    6.97        5.72           9.71
518166 3.92 12.00   0.00    8.72    6.10        6.53           8.96
518167 4.42 11.80   0.00    8.90    6.02        6.17           8.66

        ml_pred_penman
6926              1.05
6927              1.07
6928              0.98
6929              1.04
6930              1.11
...                ...
518163            6.58
518164            6.62
518165            6.81
518166            6.22
518167            5.91

[261329 rows x 22 columns]

# Inter-station Modeling

In [ ]:
df_panel = df_filtered.set_index(['station_id', 'date'])

df_filtered['panel_pred_fao56'] = np.nan
df_filtered['panel_pred_penman'] = np.nan

print("\n--- شروع مدل‌سازی بین‌ایستگاهی (Panel) ---")

for target_variable in targets:
    print(f"آموزش مدل پانلی برای متغیر: {target_variable}")
    
    formula = f"{target_variable} ~ 1 + {' + '.join(predictors)} + EntityEffects"
    model_panel = PanelOLS.from_formula(formula, data=df_panel)
    results = model_panel.fit()
    
    if target_variable == 'panel_pred_fao56':
        df_filtered[f'panel_pred_fao56'] = results.predict().values.flatten()
    if target_variable == 'panel_pred_penman':
        df_filtered[f'panel_pred_penman'] = results.predict().values.flatten()

print("مدل‌سازی بین‌ایستگاهی با موفقیت انجام شد.")
print("نمونه‌ای از پیش‌بینی‌های مدل Panel:")
print(df)